In [3]:
#Imports
import os
import shutil
import pandas as pd
import sqlite3
import seaborn as sns
import matplotlib.pyplot as plt

In [17]:
weather_df = pd.read_excel('Data\Weather\Daylight.xlsx', sheet_name=['Data'])['Data']
weather_df

,Calendar period,20-year mean \n[note 5],2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,January,1.835249,2.448102,1.495515,2.323001,1.684897,1.975580,1.690048,2.071889,1.573816,...,1.783853,2.235379,1.698182,2.069591,1.916567,1.740893,1.798168,1.419847,2.528076,2.393847
1,February,2.844714,3.125319,2.925442,3.623941,2.901360,2.563470,2.338343,2.513312,4.215328,...,3.348560,3.147091,2.957964,1.995872,3.741963,4.363079,2.710191,2.608182,3.072332,3.197894
2,March,4.073554,2.953300,3.804281,5.454046,3.712269,2.637653,3.166268,4.967513,3.791459,...,4.691432,4.432794,3.966733,3.834734,2.752046,4.164106,5.217879,3.750800,5.684977,2.459768
3,April,6.062081,4.744445,6.616119,6.728073,4.786704,5.096425,5.574046,7.270185,5.330111,...,5.253036,7.082956,5.741151,6.035753,4.272551,5.779824,7.809895,7.648313,6.303121,NaN
4,May,6.556216,7.725524,6.155149,6.390996,6.853933,7.180347,5.670979,5.449344,6.502957,...,5.838930,5.866200,6.460799,6.288690,7.791256,6.574293,9.682834,5.558549,5.617545,NaN
5,June,6.531307,6.845211,5.760137,7.193123,6.985119,6.618903,7.960759,4.830176,7.124948,...,7.263359,7.508897,4.364186,6.356180,8.110348,5.710219,6.178656,6.330326,7.693446,NaN
6,July,6.442307,6.388091,5.700613,5.890142,5.576845,5.802823,9.285923,5.964100,6.362772,...,7.468832,6.059147,6.323818,5.879392,8.708454,6.829995,5.628861,6.113400,7.237370,NaN
7,August,5.705159,5.905760,5.506359,6.977437,5.733611,6.886340,5.108250,6.512341,3.930117,...,6.340108,5.231115,6.878526,5.868933,5.583243,6.713303,5.204964,4.405335,7.797510,NaN
8,September,5.003316,4.048802,5.432157,6.064175,5.443802,5.095545,5.298549,4.999977,4.148548,...,4.597112,5.700259,4.417997,3.799847,5.264336,5.423063,5.412225,4.591812,4.299028,NaN
9,October,3.265707,3.582636,3.060449,4.348424,3.298470,2.871876,3.221354,3.591879,3.982972,...,3.178991,2.995172,3.605314,2.661436,4.423874,2.654354,2.214342,3.046776,4.119383,NaN
10,November,2.261479,2.380912,1.974578,2.344859,1.634221,3.082554,3.253023,2.399287,1.843285,...,2.002512,1.324890,2.664534,2.637034,2.530374,1.672888,2.094819,2.369257,1.935724,NaN
11,December,1.656766,2.396143,1.159697,1.735241,1.767874,1.867724,1.561951,1.617200,2.135737,...,2.264537,1.130998,1.647453,1.842672,1.356375,1.896731,1.557327,0.996768,1.894136,NaN
12,January-March,2.920238,2.832804,2.735623,3.806209,2.763204,2.386527,2.400215,3.206602,3.171077,...,3.272150,3.275910,2.872454,2.654650,2.772244,3.391347,3.253769,2.592435,3.784777,2.666701
13,April-June,6.385103,6.452538,6.176894,6.766558,6.215677,6.308248,6.393896,5.845500,6.321356,...,6.115370,6.808877,5.532361,6.227554,6.736439,6.027521,7.910158,6.501914,6.527922,NaN
14,July-September,5.724684,5.462755,5.547618,6.313263,5.586285,5.937287,6.577998,5.834446,4.821043,...,6.152071,5.663107,5.889267,5.197755,6.532312,6.331893,5.415384,5.041686,6.467958,NaN
15,October-December,2.396098,2.790973,2.065890,2.814559,2.240036,2.602220,2.672534,2.537609,2.662810,...,2.487225,1.822369,2.638824,2.377591,2.772815,2.079024,1.953982,2.135082,2.657509,NaN
16,January-December,4.358036,4.387606,4.133551,4.926233,4.199726,4.313624,4.517570,4.358257,4.241328,...,4.509062,4.392065,4.233395,4.116597,4.708465,4.458986,4.628139,4.069195,4.860860,NaN

In [20]:
holidays_df = pd.read_csv('Data\Holidays\Holidays.csv')
holidays_df

   Month_name  Month  Holidays
0     January      1         2
1    February      2         4
2       March      3         0
3       April      4        11
4         May      5         3
5        June      6         2
6        July      7         8
7      August      8        31
8   September      9         1
9     October     10         5
10   November     11         0
11   December     12        13